[Desktop Entry]
Type=Application
Name=cutepeaks
Comment=A simple sanger trace file viewer
Exec=cutepeaks %F
Icon=io.github.labsquare.CutePeaks
Terminal=false
Categories=Science;Biology;Qt;
