[submodule "external/googletest"]
	path = external/googletest
	url = https://chromium.googlesource.com/external/googletest
[submodule "external/cereal"]
	path = external/cereal
	url = https://github.com/USCiLab/cereal.git
	branch = v1.2.2
